html {
  --grey-1: #dcdcdc;
  --grey-2: #666;
  --grey-3: #f0f0f0;
}

body {
  margin: 0;
  font-family: sans-serif;
  overscroll-behavior: none;
  font-family: 'Ronzino', Helvetica, Arial, sans-serif;
}

::selection {
  background: var(--grey-1);

}

@font-face {
  font-family: Ronzino;
  src: url('/fonts/Ronzino-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: Ronzino;
  src: url('/fonts/Ronzino-Oblique.woff2');
  font-style: italic;
}

button, label, input {
  font-family: 'Ronzino', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  border: none;
  background-color: var(--grey-3);
  color: var(--grey-2);
  cursor: pointer;
}

input {
  background-color: white
}

button.active {
  color:black
}

/* @font-face {
  font-family: Zero;
  src: url('/fonts/u001-reg.ttf') format('truetype');
  font-style: regular;
}

@font-face {
  font-family: Zero;
  src: url('/fonts/u001-ita.ttf') format('truetype');
  font-style: italic;
} */
