:root {
  --grey-1: #dcdcdc;
  --grey-2: #666;
  --grey-3: #f0f0f0;
  --grey-4: #b7b7b7;
  --highlight: rgb(254, 255, 190);
  font-family: 'Ronzino', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Ronzino;
  src: url('fonts/Ronzino-Regular.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Ronzino;
  src: url('fonts/Ronzino-Oblique.woff2');
  font-style: italic;
}

body {
  background: black;
  color: white;
  margin: 0;
}

h1 {
  flex: 0 0 auto;
  font-size: 2rem;
  font-weight: 400;
  margin: 5px 0;
  white-space: nowrap;
}

.tiny {
  font-size: 0.8rem;
  color: var(--grey-1);
  white-space: nowrap;
  width: fit-content;
  display: block;

}

a {
  color: var(--grey-1);
}

select {
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0px 2px;
  border: none;
}

select:hover {
  background-color: #f0f0f0;
}
  
.filters {
  display: flex;
  gap: 12px;
  flex: 0 0 auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 10px;
  overflow-x: scroll;
}

nav {
  margin: 10px 0;
  gap: 10px;
  display: flex;
  align-content: space-around;
  align-items: center;
}

section#prototype {
  background: white;
}

section#prototype iframe {
  width: 100vw;
  height: calc(100dvh - 50px);
  border: none;
  display: block;
}

::selection {
  background: var(--highlight);
  color: black;
}
#links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#links a {
  color: white;
  text-decoration: underline;
  font-size: .7rem;
}

#title {
  flex: 1; 
  text-align: left; 
}

nav {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

#title a{
  color: white;
  text-decoration: none;
}

#texts a{
  color: white;
 text-underline-offset: 5px;
}

#texts {
  padding: 20px;
  
  font-size: 23px;
  line-height: 27px;
  max-width: 1024px;

  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;

  text-rendering: geometricPrecision;
}


#texts > * {
  text-indent: 20px;
}


#prototype {
  position: relative;
  background: white;
}

#prototype iframe {
  width: 100vw;
  height: calc(100dvh - 50px);
  border: none;
  display: block;
}

#intro-overlay {
  position: absolute;
  inset: 0;
  z-index: 5;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  pointer-events: auto;
  transition: opacity 0.5s;
  opacity: 1;
  outline: none;
}

#intro-overlay.hide {
  opacity: 0;
  pointer-events: none;
}

.intro-content {
  color: var(--grey-4);
  padding: 20px;
  font-size: 3rem;
  line-height: 3.1rem;

  margin-left: 50px;
  margin-top: 20px;
  max-width: 1100px;
  /* text-wrap: balanced; */
  /* hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto; */
  text-rendering: geometricPrecision;
}

.intro-content a {
  color: white;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .1ch;
  text-decoration-color: var(--grey-1);
}


.intro-content> * {
  margin-bottom: .10px;
  /* text-indent: 1ch; */
}

.intro-sub {
  padding-left: 0.7rem;
}

#hint {
  font-size: 3rem;
  padding-left: 0.7rem;
  padding-top: 1rem;
  color: var(--grey-2, #666);
  opacity: 0.9;
  cursor: pointer;
}

#hint:hover {
  color: var(--grey-1, #dcdcdc);
}



@media (max-width: 600px) {
  header {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0 8px;
  }

 .intro-content {
    font-size: 2rem;
    line-height: 2.1rem;

    margin: 0;
    margin-top: 10px;
    padding: 5px;
  }
}
