:root {
  --grey-1: #dcdcdc;
  --grey-2: #666;
  --grey-3: #f0f0f0;
  --highlight: rgb(254, 255, 190);
  font-family: 'Ronzino', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Ronzino;
  src: url('fonts/Ronzino-Regular.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Ronzino;
  src: url('fonts/Ronzino-Oblique.woff2');
  font-style: italic;
}

body {
  background: black;
  color: white;
  margin: 0;
}

h1 {
  flex: 0 0 auto;
  font-size: 2rem;
  font-weight: 400;
  margin: 5px 0;
  white-space: nowrap;
}

select {
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0px 2px;
}

select:hover {
  background-color: #f0f0f0;
}
  
.filters {
  display: flex;
  gap: 12px;
  flex: 0 0 auto;
}

main {
  height: 50px;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding: 0 5px;
  justify-content: space-between;
}

nav {
  margin: 10px 0;
  gap: 10px;
  display: flex;
  align-content: space-around;
  align-items: center;
}

section#prototype {
  background: white;
}
section#prototype iframe {
  width: 100vw;
  height: calc(100vh - 50px);
  border: none;
  display: block;
}

::selection {
  background: var(--highlight);
  color: black;
}

@media (max-width: 600px) {
  header {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0 8px;
  }
}
